<html>
    <head>
        <title>Radio Clock App</title>
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="manifest.json">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />  
        <link rel="apple-touch-icon" href="/static/radio-152.png">   
        <meta name="theme-color" content="white"/>  
        <meta name="apple-mobile-web-app-capable" content="yes">  
        <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
        <meta name="apple-mobile-web-app-title" content="Hello World"> 
        <meta name="msapplication-TileImage" content="/static/radio-144.png">  
        <meta name="msapplication-TileColor" content="#FFFFFF">
    </head>
    <body class="fullscreen">
        <div id="main_window" class="main_window">
            <div id="app_panel" class="app_panel">
                <div class="app_state">
                    <p class="state_line"></p>
                </div>
                <div class="app_state">
			<p class="volume_line"></p>
			<p class="temp_line"></p>
                </div>
                 <div class="app_row app_stream">
                    <input type="text" id="stream_url" placeholder="Stream URL (http://...)" />
                    <button id="stream_btn" onclick="playStream()">Play</button>
                </div>               
                <div class="app_row">
                    <div class="app" id="lulabyON" onclick="golink(this,'/api/lulaby/start/1',updateVolume)"></div>
                    <div class="app" id="lulabyTwo" onclick="golink(this,'/api/lulaby/start/2',updateVolume)"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="radioON" onclick="golink(this,'/api/radio/start/ns',updateVolume)"></div>
                    <div class="app" id="radio357" onclick="golink(this,'/api/radio/start/357',updateVolume)"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="soundOFF" onclick="golink(this,'/api/music/stop')"></div>
                    <div class="app" id="alarmToggle" onclick="toggleAlarm()"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="volumeUP" onclick="golink(this,'/api/volume/up');updateVolume()"></div>
                    <div class="app" id="volumeDOWN" onclick="golink(this,'/api/volume/down');updateVolume()"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="clockON" onclick="golink(this,'/api/clock/start')"></div>
                    <div class="app" id="clockOFF" onclick="golink(this,'/api/clock/stop')"></div>
                </div>

            </div>
        </div>
        
        <script type="text/javascript">
        var golink = function(divObj, apipath, afterFunction) {
            $(divObj).addClass("choosen");
            $.ajax(apipath).done(function(data) {
                if (afterFunction !== undefined) afterFunction.call();
            });
            setTimeout(function(){ $(divObj).removeClass("choosen"); }, 1000);
        }

        function playStream() {
            var url = $('#stream_url').val().trim();
            if (!url) return;
            $('#stream_btn').prop('disabled', true);
            $.ajax({
                url: '/api/radio/stream',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ stream: url }),
                complete: function() { $('#stream_btn').prop('disabled', false); }
            });
        }

        function updateVolume() {
            $.ajax("/api/volume/level").done(function(data) {
                $(".volume_line").text("Current volume: " + data.status);
            });
            $.ajax("/api/temp").done(function(data) {
                $(".temp_line").text("Temperature in: " + data.temp_in + "*C out: " + data.temp_out + "*C Humidity: " + data.humid + "%");
            });
        }

        function setAlarmState(enabled) {
            $('#alarmToggle').toggleClass('alarm-on', enabled);
        }

        function toggleAlarm() {
            var enabled = $('#alarmToggle').hasClass('alarm-on');
            var apipath = enabled ? '/api/alarm/disable' : '/api/alarm/enable';
            $.ajax(apipath).done(function(data) {
                setAlarmState(data.enabled);
            });
        }

        function updateAlarmStatus() {
            $.ajax("/api/alarm/status").done(function(data) {
                setAlarmState(data.enabled);
            });
        }

        $.ajaxSetup({ async: false });
        $(document).ajaxComplete(function(event, xhr, settings) {
            $(".state_line").text(settings.url + " : " + xhr.status + " - " + xhr.statusText);
        });
        $(document).ajaxSend(function(event, xhr, settings) {
            $(".state_line").text("Calling " + settings.url + " ... ");
        });
        $(document).ready(updateVolume());
        $(document).ready(updateAlarmStatus());

        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js');
        }
        </script>
        <noscript>All fine just not dynamic</noscript>
    </body>
</html>
