<html>
    <head>
        <title>Radio Clock App</title>
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <div id="main_window" class="main_window">
            <div id="app_panel" class="app_panel">
                <div class="app_state">
                    <p class="state_line"></p>
                </div>
                <div class="app_state">
                    <p class="volume_line"></p>
                </div>
                <div class="app_row">
                    <div class="app" id="radioON" onclick="golink(this,'/api/radio/start')"></div>
                    <div class="app" id="soundOFF" onclick="golink(this,'/api/music/stop')"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="clockON" onclick="golink(this,'/api/clock/start')"></div>
                    <div class="app" id="clockOFF" onclick="golink(this,'/api/clock/stop')"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="volumeUP" onclick="golink(this,'/api/volume/up');updateVolume()"></div>
                    <div class="app" id="volumeDOWN" onclick="golink(this,'/api/volume/down');updateVolume()"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="lulabyON" onclick="golink(this,'/api/lulaby/start');updateVolume()"></div>
                    <div class="app" id="soundOFF" onclick="golink(this,'/api/music/stop')"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            var golink = function(divObj, apipath) {
                $(divObj).addClass("choosen");
                $.ajax(apipath);
                setTimeout(function(){
                    $(divObj).removeClass("choosen");
                },1000);               
            }
            $(document).ajaxComplete(function( event, xhr, settings ) {
                
                    $( ".state_line" ).text( settings.url+" : " + xhr.status + " - "+ xhr.statusText );
                
            })
            $(document).ajaxSend(function( event, xhr, settings ) {
                
                $( ".state_line" ).text( "Calling " + settings.url+" ... ");
            
            })
            $(document).ready(updateVolume)

            function updateVolume(){
                $.ajax("/api/volume/level").done(
                    function(data) { //data is a json object of StatusAnswer object response 
                        $(".volume_line").text("Current volume: " +data.status);
                    }
                );
            }
        </script>

    </body>
</html>