<html>
    <head>
        <title>Radio Clock App</title>
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="/static/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <div id="main_window" class="main_window">
            <div id="app_panel" class="app_panel">
                <div class="app_row">
                    <div class="app" id="radioON" onclick="$.ajax('/api/radio/start')"></div>
                    <div class="app" id="soundOFF" onclick="$.ajax('/api/music/stop')"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="clockON" onclick="$.ajax('/api/clock/start')"></div>
                    <div class="app" id="clockOFF" onclick="$.ajax('/api/clock/stop')"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="volumeUP" onclick="$.ajax('/api/volume/up')"></div>
                    <div class="app" id="volumeDOWN" onclick="$.ajax('/api/volume/down')"></div>
                </div>
                <div class="app_row">
                    <div class="app" id="lulabyON" onclick="$.ajax('/api/lulaby/start')"></div>
                    <div class="app" id="soundOFF" onclick="$.ajax('/api/music/stop')"></div>
                </div>
            </div>
        </div>
    </body>
</html>